---
permalink: /data/news/index.json       # 出力先を固定
eleventyExcludeFromCollections: true   # 他コレクションに混ざらない
---
{
  "files": [
    {%- for item in collections.news | reverse -%}
      "{{ item.inputPath | replace('_data/news/', '') }}"
      {%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
  ]
}
