---
layout: base
pagination:
  data: collections.news
  size: 1
  alias: post
permalink: "/news/{{ post.fileSlug }}/index.html"
---
<article class="news-article max-w-4xl mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">{{ post.data.title }}</h1>
  <time datetime="{{ post.data.date }}" class="text-gray-600 block mb-6">{{ post.data.date | date("%Y.%m.%d") }}</time>
  <div class="prose max-w-none">
    {{ post.templateContent | safe }}
  </div>
  <div class="mt-8">
    <a href="/news/" class="inline-flex items-center text-turquoise hover:underline">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
      </svg>
      お知らせ一覧に戻る
    </a>
  </div>
</article>
